.header-modal {
    --bs-modal-width: 500px;
}

.close-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 0.5rem;
    margin-top: 1rem;
    margin-right: 48px;
    color: var(--gray);
    :hover {
        color: var(--black);
    }
    font-size: 24px;
}

.login-submit {
    text-align: center;
    background-color: var(--hnl-button-bg) !important;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: var(--hnl-button-color) !important;
    border: none;
    font-weight: bold;
}

.reset-pasword-submit {
    text-align: center;
    background-color: var(--green-dark);
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: var(--white);
}

.modal-text {
    cursor: pointer;
    color: var(--hnl-link-color) !important;
    font-weight: bold !important;
}

.login-alter-text {
    text-align: center;
    color: var(--hnl-signup-alter-text) !important;
    margin-bottom: 0.5rem;
}

.signup-alter-text {
    color: var(--hnl-signup-alter-text) !important;
    margin-right: 0.25rem;
}

.modal-content {
    background-color: var(--hnl-dropdown-bg);
}

.btn-google {
    background-color: var(--red);
    width: fit-content;
    padding: 6px 3rem;
    border-radius: 5px;
    margin: 1rem 0;
    cursor: pointer;
    color: white;

    span {
        font-size: 0.9rem;
        color: white;
        padding-left: 1.5rem;
        padding-right: 1rem;
        font-weight: bold;
    }
}

.errorInput {
    border-color: var(--hnl-error-text-border) !important;
}

.errorText {
    color: var(--hnl-error-text-color) !important;
}

.relative {
    position: relative;
}

.errorPositionText {
    position: absolute;
    right: 16px;
    top: 22%;
}
