.navbar {
    background-color: var(--blue-dark) !important;
    padding: 0 !important;
}

.nav-link {
    color: var(--white) !important;
    padding: 0 2rem !important;
}

.navbar-collapse {
    flex-grow: unset;
}

.container-fluid {
    justify-content: flex-start !important;
}
