.navbar {
    height: 60px;
    background-color: var(--navbar);
    color: var(--navbar-text);
    padding: 0 3rem;
    border-bottom: 1px solid var(--navbar-border);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.container {
    display: flex;
    align-items: center;
}

.navbarBrand {
    height: 60px;
    display: flex;
    align-items: center;
}

.logoImage {
    height: 40px;
}

.logoName {
    // color: var(--white);
    // font-weight: bold;
    padding-left: 1rem;
    background: var(--vp-home-hero-name-background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--vp-home-hero-name-color);
}

.navbarSeparator {
    padding: 0 2rem;
    color: var(--gray-dark-2);
}

.navbarNav {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-grow: 1;
}

.navbarItem {
    padding: 1rem 2rem;
    // border-bottom: 4px solid var(--blue-dark-3);
}

.navbarLink {
    color: var(--navbar-text);
    font-weight: bold;

    &:hover {
        color: var(--navbar-text);
    }
}

.navbarActive {
    border-color: var(--blue);
}

.dropdown {
    position: relative;
}

.dropdownToggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.name {
    font-weight: bold;
    padding: 0 1rem;
}

.dropdownMenu {
    position: absolute;
    right: 0;
    top: 120%;
    width: 250px;
    padding: 0.25rem 0;
    border-radius: 2px;
    background-color: var(--white);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdownItem {
    padding: 0.5rem 1.5rem;
    color: var(--black);
    cursor: pointer;

    &:hover {
        background-color: var(--hnl-select-bg);
    }
}

.dropdownDivider {
    margin: 0.3rem 0;
    height: 1px;
    background-color: var(--gray);
}

// Toggle
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
