.navbar {
    height: 60px;
    background-color: var(--blue-dark-3);
    color: var(--white);
    padding: 0 3rem;
}

.container {
    display: flex;
    align-items: center;
}

.navbarBrand {
    height: 60px;
    display: flex;
    align-items: center;
}

.logoImage {
    height: 40px;
}

.logoName {
    // color: var(--white);
    // font-weight: bold;
    padding-left: 1rem;
}

.navbarSeparator {
    padding: 0 2rem;
    color: var(--gray-dark-2);
}

.navbarNav {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-grow: 1;
}

.navbarItem {
    padding: 1rem 2rem;
    border-bottom: 4px solid var(--blue-dark-3);
}

.navbarLink {
    color: var(--white);
    font-weight: bold;

    &:hover {
        color: var(--white);
    }
}

.navbarActive {
    border-color: var(--blue);
}

.dropdown {
    position: relative;
}

.dropdownItem {
    padding: 0.5rem 1.5rem;
    color: var(--black);
    cursor: pointer;

    &:hover {
        // background-color: var(--gray);
        font-weight: bold;
    }
}

.dropdownDivider {
    margin: 0.3rem 0;
    height: 1px;
    background-color: var(--gray);
}
