.contribute-navbar-container {
    width: 100%;
    padding-top: 76px;
    padding-bottom: 30px;
    background-color: var(--primary-background);
    .contribute-navbar-line {
        width: 100%;
        display: flex;
        height: 5px;
        background-color: var(--gray-light);
        border-radius: 5px;
    }

    .contribute-navbar-steps {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        z-index: 2;

        a {
            flex-basis: 0;
            min-width: 0;
            text-decoration: none;
        }
    }
}

.contribute-navbar-line-segment-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 5px;
    background-color: var(--gray-light);
    border-radius: 5px;

    .contribute-navbar-line-segment {
        height: 5px;
        background-color: var(--orange-light);

        // background-image: linear-gradient(to right, var(--blue), var(--yellow));

        border-radius: 5px;
        width: 0;
    }

    .contribute-navbar-line-segment-entered {
        width: 100%;
    }
}

.contribute-navbar-step {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: -47px;
    cursor: pointer;

    .contribute-navbar-step-label {
        font-weight: 500;
        color: var(--gray-dark);
        margin-bottom: 10px;
        white-space: nowrap;
    }

    .contribute-navbar-step-label-active {
        color: var(--orange-light);
    }

    .contribute-navbar-step-circle {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        transition: 0.3s all;
    }

    .contribute-navbar-step-circle-entered {
        background-color: var(--orange-light);
    }
}

.contribute-navbar-step-svg {
    position: absolute;
    top: 122px;
    fill: var(--gray-light);
    stroke: var(--orange-light);
    stroke-width: 5;
    stroke-dasharray: 78.53981634px 78.53981634px;
    stroke-dashoffset: 78.53981634px;
    transform: rotate(173deg);
}

.contribute-navbar-step-svg-entered {
    fill: var(--orange-light);
    // color: transparent;
    border-radius: 50%;
}

.contribute-body-main {
    min-width: 0px;
    min-height: calc(100% - 100px);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-right: 1px solid var(--gray-light);
    padding-inline: 2rem;
}

.contribute-body-main-content {
    margin-bottom: 100px;
    color: var(--black);
    .title {
        font-size: 28px;
        margin-bottom: 1rem;
    }
    .subtitle {
        font-size: 18px;
        font-weight: 500;
        color: var(--hnl-subtitle-color);
        margin-bottom: 10px;
    }
    .normal-text {
        font-size: 16px;
        color: var(--gray-dark);
    }
    .textarea {
        overflow: auto;
        overflow-wrap: break-word;
        height: 320px !important;
        width: 100%;
        border: 2px solid var(--hnl-input-border);
        padding: 10px 15px;
        // border-radius: 4px;
        transition: 0.2s all;
        resize: none;
        background-color: var(--hnl-input-bg);
        color: var(--black);
    }
    dropdown .char-counter {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        color: var(--gray-dark-3);
    }
    .checkbox-wrapper {
        line-height: 1.5;
        font-weight: 400;
        color: var(--gray-dark-2);
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 2rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.contribute-body-right {
    padding-inline: 1rem;
}
.contribute-border-box {
    -webkit-font-smoothing: antialiased;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background: var(--hnl-box-bg);
    color: var(--hnl-box-color);

    .lightbulb {
        color: var(--orange-light);
        margin-bottom: 15px;
    }

    .hint {
        color: var(--hnl-box-color);
        font-size: 14px;

        strong: {
            border-bottom: 1rem;
        }
        .hint-title {
            font-size: 18px;
            border-bottom: 1rem;
        }
    }
    p {
        color: var(--hnl-box-color);
    }
}

.contribute-footer-container {
    left: 0;
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
    // border-top: 1px solid var(--gray-light);
    background-color: var(--white);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);

    .contribute-footer {
        // width: 50%;
        height: 100%;
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: var(--white);
        }
    }
}

.contribute-nav-btn {
    background-color: var(--orange);
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    padding: 0 12px;
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    border-radius: 100%;
    width: 40px;
}

.btn-submit-contribute {
    --bs-btn-color: var(--white);
    --bs-btn-bg: var(--orange);
    --bs-btn-border-color: var(--orange);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--orange-dark);
    --bs-btn-hover-border-color: var(--orange-dark);
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--orange-dark);
    --bs-btn-active-border-color: var(--orange-dark);
    padding: 0.375rem 0.75rem;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    width: 100px;
}

.question-title {
    width: 60%;
}

.question-category {
    width: 40%;
}

.btn-add {
    --bs-btn-color: var(--white);
    --bs-btn-bg: var(--green-dark);
    --bs-btn-border-color: var(--green-dark);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--green-dark-2);
    --bs-btn-hover-border-color: var(--green-dark-2);
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--green-dark-2);
    --bs-btn-active-border-color: var(--green-dark-2);
    padding: 0.375rem;
    border-radius: 5px;
    width: 100px;
    margin-bottom: 2rem;
}

.preview-description {
    min-height: 500px;
    margin-bottom: 5rem;
    // overflow-y: auto;
    color: var(--gray-dark-2);
    font-size: 16px;
}

.preview-code {
    // font-size: 90%;
    // background-color: var(--gray);
    border-radius: 4px;
    color: var(--hnl-sample-code-color);
    // margin-bottom: 0;
}

.code-block {
    border: 2px solid var(--gray-light);
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.checkbox {
    height: 20px;
    width: 20px;
}

.no-testcases-text {
    color: var(--gray-dark);
    font-size: 24px;
    font-weight: 500;
}

.testcases-container {
    height: 520px;
    overflow-y: auto;
}

.testcase-header th {
    color: var(--white);
    background-color: var(--orange-light);
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.testcase-data td {
    font-size: 16px;

    pre {
        margin: 0;
    }
}

.contribute-main-success {
    height: calc(100vh - 330px);
    padding-top: 200px;
}

//
.dropdownCheck {
    display: block;
}

.dropdownHide {
    display: none;
}

.dropdownToggleQuestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    padding: 8px 20px;
    width: 100%;
}

.dropdownQuestion {
    position: absolute;
    right: 0;
    top: 110%;
    width: 100%;
    padding: 0.25rem 0;
    border-radius: 2px;
    background-color: var(--hnl-dropdown-bg);
    border: 1px solid var(--hnl-dropdown-border);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.form-control,
.form-select {
    border-radius: 0;
    padding: 8px 20px;
}

// Codes
.codeToggle {
    font-size: 1.25rem;
    // background-color: var(--gray-light);
    padding: 8px 0;
    font-weight: bold;
    cursor: pointer;
}

.errorInput {
    border-color: var(--hnl-error-text-border) !important;
}

.errorText {
    color: var(--hnl-error-text-color) !important;
}

.Í¼1 .cm-lineNumbers .cm-gutterElement {
    min-width: 30px;
}
