.problems {
    height: calc(100vh - 116px);
}

.problems-categories {
    width: 100%;
    overflow: scroll hidden;
}

.problems-category {
    background-color: var(--gray-light);
    padding: 12px 24px;
    margin: 0 8px;
    min-width: fit-content;
}

.problems-dropdown {
    position: relative;
}

.problems-dropdown-toggle {
    background-color: var(--gray-light);
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
}

.problems-dropdown-menu {
    position: absolute;
    background-color: aliceblue;
    width: 200px;
    padding: 8px;
    top: 110%;
}

.problems-dropdown-item {
    padding: 6px 12px;

    &:hover {
        background-color: var(--gray-light);
    }
}

.problem-dropdown-menu {
    border: unset !important;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
}

.problems-right {
}

.problems-head {
    font-weight: bold;
}

.problems-status-accept {
    color: var(--green-dark-2);
}

.problems-status-progress {
    color: var(--orange);
}

.problems-status-high {
    color: var(--red-dark);
}

.pagination {
}

.page-item {
    padding: 6px 12px;
    background-color: var(--gray-light);
    margin: 0 4px;
    color: var(--gray-dark);
    cursor: pointer;
    border: none;

    &:hover {
        color: var(--black);
    }
}

.page-item:disabled {
    &:hover {
        color: var(--gray-dark);
    }
}

.page-item-active {
    color: var(--black);
}

// Filters
.filter-item {
    background-color: var(--gray-light);
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 6px;
}

.filter-item-delete {
    background-color: var(--gray-dark);
    color: var(--white);
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
}

.dropdown-item {
    span {
        color: var(--blue);
    }
}

// .dropdown-item-active {
//     background-color: var();
//     color: var(--white);
// }
