@import 'normalize.css';

// Import font
// @import url();

// Color
:root {
    --black: #000;
    --white: #ffffff;

    --brown: #5a373f;

    --blue-dark-3: #0b1517;
    --blue-dark-2: #032343;
    --blue-dark: #1a4979;
    --blue-dark-4: #207bf3;
    --blue: #20c0f3;

    --green-dark-2: #157347;
    --green-dark: #48bf69;
    --green: #50f07d;

    --red-dark: #bf4848;
    --red: #f32020;

    --orange-light: #f0b67f;
    --orange: #f38120;
    --orange-dark: #e57818;

    --yellow: #f3eb20;

    --gray: #d9d9d9;
    --gray-dark: #a4a4a4;
    --gray-dark-2: #696969;
    --gray-dark-3: #bdbdbd;
    --gray-light: #f0f0f0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 100%;

    &:hover {
        background-color: rgb(0, 122, 255);
    }
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.grid {
    display: grid;
    // grid-template-rows: 1fr 10px 1fr;
    grid-template-columns: 1fr 10px 1fr;
}

.grid-row {
    display: grid;
    // grid-template-rows: 1fr 10px 1fr;
}

.closeConsole {
    grid-template-rows: auto 10px min-content !important;
}

.openConsole {
    grid-template-rows: 1fr 10px 1fr;
}

.gutter-row {
    grid-column: 2/-1;
    cursor: row-resize;

    &:hover {
        background-color: rgb(0, 122, 255);
    }
}

.gutter-row-1 {
    grid-row: 2;
}

.gutter-col {
    grid-row: 1/-1;
    cursor: col-resize;

    &:hover {
        background-color: rgb(0, 122, 255);
    }
}

.gutter-col-1 {
    grid-column: 2;
}

.fw-bold {
    font-weight: bold !important;
}

.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.btn-custom {
    cursor: pointer;
    display: inline-block;
    min-width: 200px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 8px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.disabled-div {
    pointer-events: none;
    user-select: none;
}
