@import 'normalize.css';

// Import font
// @import url();

// Color
:root {
    --vp-home-hero-name-background: -webkit-linear-gradient(135deg, #fff 10%, #fff);
    --vp-home-title-name-background: -webkit-linear-gradient(120deg, #20c0f3 30%, #f38120);
    --vp-home-btn-name-background: -webkit-linear-gradient(120deg, #f38120 30%, #f3eb20);
    --vp-home-img-background: -webkit-linear-gradient(120deg, var(--blue-dark) 30%, #6dd0f1);
    --vp-home-hero-name-color: transparent;
    
    --black: #000;
    --black-2: #1b1b1f;
    --black-blue: #202127;
    --black-blue-light: #2e2e32;
    --black-blue-light-2: #2b2f36;
    --black-blue-light-3: #282a36;

    --white: #ffffff;
    --white-light: #F5F7FA;
    --white-dark: #E0E0E0;
    --white-dark-2: #B9B9B9;

    --dark: #6E6E6E;

    --brown: #5a373f;

    --blue-dark-3: #0b1517;
    --blue-dark-2: #032343;
    --blue-dark: #1a4979;
    --blue-dark-4: #207bf3; 
    // --blue-dark-4: #5078F2; 
    
    --blue: #20c0f3;
    --blue-light: #9ae7ff;
    --blue-white: #d1f4ff;
    --blue-white-light: #EDF2FF;

    --purple: #966fd6;
    --purple-2: #bd34fe;

    --green-dark-2: #157347;
    --green-dark: #48bf69;
    --green: #50f07d;

    --red-dark: #bf4848;
    --red: #f32020;

    --pink-red: #e23b3b;

    --orange-light: #f0b67f;
    --orange: #f38120;
    --orange-dark: #e57818;

    --yellow: #f3eb20;

    --pink: #ff3670;

    --gray: #d9d9d9;
    --gray-dark: #a4a4a4;
    --gray-dark-2: #696969;
    --gray-dark-3: #bdbdbd;
    --gray-light: #f0f0f0;

    --navbar: var(--blue-dark-4);
    --navbar-text: var(--white);
    --navbar-border: var(--gray);
    --navbar-separator: var(--white);
    --primary-background: var(--white);
    --hnl-input-bg: #fff;
    --hnl-input-border: var(--gray-light);
    --hnl-input-color: var(--black);
    --hnl-box-bg: var(--gray-light);
    --hnl-box-color: var(--gray-dark-2);
    --hnl-icon-1: -webkit-linear-gradient(120deg, #20c0f3 30%, #f3eb20);
    --hnl-dropdown-bg: var(--white);
    --hnl-dropdown-color: var(--black);
    --hnl-dropdown-color2: var(--blue-dark-4);
    --hnl-dropdown-border: var(--gray-light);
    --hnl-dropdown-avatar-border: var(--blue-dark-4);
    --hnl-dropdown-name: var(--blue-dark-4);
    --hnl-dropdown-divider: var(--gray);
    --hnl-darkmode-button: var(--blue-dark-4);
    --hnl-darkmode-icon: var(--blue-dark-4);
    --hnl-select-bg: var(--gray-light);
    --hnl-code-bg: white;
    --hnl-sample-code-bg: var(--gray);
    --hnl-sample-code-color: var(--red);
    --hnl-testcase-container-bg: var(--gray-light);
    --hnl-problems-dropdown-toggle-bg: var(--gray-light);
    --hnl-problems-dropdown-toggle-color: black;
    --hnl-problems-dropdown-toggle-disable-color: black;
    --hnl-problem-search-bg: white;
    --hnl-problem-search-color: black;
    --hnl-problem-search-border: #ddd;
    --hnl-error-text-color: var(--red);
    --hnl-error-text-border: var(--red);
    --hnl-subtitle-color: var(--gray-dark-2);
    --hnl-button-bg: var(--blue-dark);
    --hnl-button-color: white;
    --hnl-link-color: var(--blue-dark);
    --hnl-signup-alter-text: var(--gray-dark);
    --hnl-footer-bg: var(--blue-dark);

    --hnl-problems-bg: var(--white-light);
    
    --hnl-problems-search-border: var(--white-dark);
    --hnl-problems-search-color: var(--white-dark-2);

    --hnl-problems-text-color: var(--dark);

    --hnl-problem-table-bg: var(--white);
    --hnl-problem-table-head-bg: var(--blue-dark-4);
    --hnl-problem-table-head-color: var(--white);

    --hnl-problem-category-bg: var(--gray);

    --hnl-problem-level-easy: var(--green-dark-2);
    --hnl-problem-level-medium: var(--orange-dark);
    --hnl-problem-level-hard: var(--red);

    --hnl-problem-pagination-bg: var(--blue-dark-4);

    --hnl-breadcrumbs-color: var(--blue-dark-4);
    --hnl-breadcrumbs-color-active: var(--black);
    
    --hnl-courses-bg: var(--white-light);
    --hnl-courses-bg1: var(--white);
    --hnl-courses-bg2: var(--blue-dark-4);
    --hnl-courses-title: var(--black);
    --hnl-courses-search-bg: var(--white);
    --hnl-courses-search-color: var(--blue-dark-4);

    --hnl-courses-semester-bg: var(--white);
    --hnl-courses-semester-color: var(--orange);
    --hnl-courses-semester-header-bg: var(--white-light);
    --hnl-courses-semester-course-border: var(--white-dark);
    --hnl-courses-semester-course-name-hover: var(--blue-dark-4);
    --hnl-courses-semester-course-name: var(--blue-dark-4);
    --hnl-courses-semester-course-class-name: var(--black);

    --hnl-course-nav-item-bg: var(--white);
    --hnl-course-nav-item-active-bg: var(--blue-dark-4);
    --hnl-course-nav-item-color: var(--blue-dark-4);
    --hnl-course-nav-item-active-color: var(--white);
    --hnl-course-nav-item-border: var(--blue-dark-4);

    --hnl-course-add-topic-bg: var(--white);
    --hnl-course-add-topic-color: var(--gray-dark);
    --hnl-course-add-topic-color-hover: var(--black);
    
    --hnl-course-topic-header-bg: var(--white-light);
    --hnl-course-topic-header-color: var(--black);
    --hnl-course-topic-header-icon-color: var(--blue-dark-4);
    --hnl-course-topic-header-title-color: var(--black);
    --hnl-course-topic-header-edit-color: var(--orange);

    --hnl-course-topic-body-title-color: var(--blue-dark-4);
    --hnl-course-topic-body-subTitle-color: var(--black);
    --hnl-course-topic-body-title-color-hover: var(--orange);
    --hnl-course-topic-body-border: var(--white-light);
    --hnl-course-topic-body-title-color-2: var(--orange);
    --hnl-course-topic-body-border2: var(--orange);

    --hnl-course-participants-head-bg: var(--black);
    --hnl-course-participants-head-color: var(--white);

    --hnl-course-participants-body-bg: var(--white);
    --hnl-course-participants-body-odd-bg: var(--blue-white-light);
    --hnl-course-participants-body-color: var(--black);
    --hnl-course-participants-body-border: var(--blue-dark-4);

    --hnl-course-participants-body-button-border: var(--red);
    --hnl-course-participants-body-button-color: var(--red);
    --hnl-course-participants-body-button-hover-bg: var(--red);
    --hnl-course-participants-body-button-hover-color: var(--white);
    
    --hnl-course-participants-body-page-bg: var(--blue-dark-4);
    --hnl-course-participants-body-page-color: var(--white);

    --hnl-course-participants-body-dropdown-bg: var(--blue-white-light);
    --hnl-course-participants-body-dropdown-border: var(--blue-dark-4);
    --hnl-course-participants-body-dropdown-item-hover: var(--white);

    --hnl-course-grades-sortBar-button-bg: var(--white);
    --hnl-course-grades-sortBar-button-border: var(--blue-dark-4);
    --hnl-course-grades-sortBar-button-color: var(--blue-dark-4);

    --hnl-course-grades-body-title-color: var(--blue-dark-4);

    --hnl-course-sortBar-options-bg: var(--blue-white-light);
    --hnl-course-sortBar-options-item-bg: var(--white);
    --hnl-course-sortBar-options-item-color: var(--black);
    --hnl-course-sortBar-options-item-color-active: var(--blue-dark-4);

    // Add Exercise
    --hnl-course-addExercise-bg: var(--white);
    --hnl-course-addExercise-color: var(--black);

    --hnl-course-addExercise-header-color: var(--orange);
    --hnl-course-addExercise-header-bg: var(--white-light);

    --hnl-course-addExercise-formTitle-color: var(--blue-dark-4);

    --hnl-course-addExercise-label-color: var(--black);

    --hnl-course-addExercise-dropdown-header-border: var(--white-dark);
    --hnl-course-addExercise-dropdown-header-color: var(--black);
    --hnl-course-addExercise-dropdown-header-bg: var(--white);

    --hnl-course-addExercise-dropdown-body-border: var(--white-dark);
    --hnl-course-addExercise-dropdown-body-color: var(--black);
    --hnl-course-addExercise-dropdown-body-icon: var(--blue-dark-4);
    --hnl-course-addExercise-dropdown-body-bg: var(--white);
    --hnl-course-addExercise-dropdown-body-bg-hover: var(--gray-light);

    --hnl-course-addExercise-testcase-header-bg: var(--white);
    // --hnl-course-addExercise-testcase-header-color: var(--green-dark-2);
    --hnl-course-addExercise-testcase-header-color: var(--black);

    --hnl-course-addExercise-testcase-button-add-bg: var(--blue-dark-4);
    --hnl-course-addExercise-testcase-button-add-color: var(--white);
    --hnl-course-addExercise-testcase-button-cancel-bg: var(--gray-dark-2);

    --hnl-course-addExercise-testcase-table-header-bg: var(--blue-dark-4);
    --hnl-course-addExercise-testcase-table-header-color: var(--white);
    --hnl-course-addExercise-testcase-table-row-border: var(--gray);
    --hnl-course-addExercise-testcase-table-row-color: var(--black);

    --hnl-course-addExercise-testcase-input-bg: var(--white);
    --hnl-course-addExercise-testcase-input-color: var(--black);
    --hnl-course-addExercise-testcase-input-border: var(--white-dark);

    --hnl-course-addExercise-error-color: var(--red);

    // privateProblem
    --hnl-privateProblem-outer-bg: var(--white-light);
    --hnl-privateProblem-inner-bg: var(--white);

    --hnl-privateProblem-header-title-color: var(--blue-dark-4);
    --hnl-privateProblem-header-subTitle-color: var(--black);
    
    --hnl-privateProblem-remainingTime-color: var(--blue-dark-4);
    --hnl-privateProblem-remainingTime-outOfTime-color: var(--red);

    --hnl-waitingField-button-1-bg: var(--blue-dark-4);
    --hnl-waitingField-button-1-color: var(--white);
    
    --hnl-waitingField-informationTimer-color: var(--blue-dark-4);
    --hnl-waitingField-table-header-bg: var(--blue-dark-4);
    --hnl-waitingField-table-header-color: var(--white);
    --hnl-waitingField-table-body-bg: var(--blue-white-light);
    --hnl-waitingField-table-body-color: var(--black);
    --hnl-waitingField-table-body-language-bg: var(--gray);
    --hnl-waitingField-table-body-language-color: var(--black);
    
}

[data-theme='dark'] {
    // --white: black;
    // --black: white;
    // --primary-dark: #ffc174;
    // --beige-light: #3a3b3c;
    // --primary-light: #424140;
    // --white-2: #23201b;
    --navbar: var(--blue-dark-3);
    --navbar-text: white;
    --navbar-border: var(--white);
    --hnl-dropdown-color: var(--white);
    --hnl-dropdown-color2: var(--pink);
    --hnl-dropdown-name: var(--pink);

    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #20c0f3 30%, #f3eb20);
    --primary-background: var(--black-2);
    --hnl-input-bg: var(--black-blue-light);
    --hnl-input-border: var(--black-blue-light);
    --hnl-input-color: white;
    --hnl-box-bg: var(--black-blue-light);
    --hnl-box-color: white;
    --hnl-dropdown-bg: var(--black-blue-light);
    --hnl-dropdown-border: var(--black-blue-light);
    --hnl-dropdown-avatar-border: var(--pink);
    --hnl-dropdown-divider: var(--gray-dark-2);
    --hnl-darkmode-button: var(--pink);
    --hnl-darkmode-icon: var(--pink);
    --hnl-select-bg: var(--black-blue-light);
    --hnl-code-bg: var(--black-blue-light-3);
    --hnl-sample-code-bg: var(--black-blue);
    --hnl-sample-code-color: var(--purple);
    --hnl-testcase-container-bg: var(--black-blue-light);
    --hnl-problems-dropdown-toggle-bg: var(--black-blue-light);
    --hnl-problems-dropdown-toggle-color: white;
    --hnl-problems-dropdown-toggle-disable-color: var(--gray-light);
    --hnl-problem-search-bg: var(--black-blue-light);
    --hnl-problem-search-color: white;
    --hnl-problem-search-border: var(--black-blue-light);
    --hnl-error-text-color: var(--purple);
    --hnl-error-text-border: var(--purple);
    --hnl-subtitle-color: white;
    --hnl-button-bg: var(--orange);
    --hnl-link-color: var(--orange);
    --hnl-signup-alter-text: white;
    --hnl-footer-bg: var(--blue-dark-3);

    --hnl-problems-bg: var(--black-2);
    --hnl-problems-search-border: var(--white-dark);
    --hnl-problems-search-color: var(--white-dark-2);
    --hnl-problems-text-color: var(--dark);
    --hnl-problem-table-bg: var(--white);
    --hnl-problem-table-head-bg: var(--blue-dark);
    --hnl-problem-table-head-color: var(--white);
    --hnl-problem-category-bg: var(--gray);
    --hnl-problem-level-easy: var(--green-dark-2);
    --hnl-problem-level-medium: var(--orange-dark);
    --hnl-problem-level-hard: var(--red);
    --hnl-problem-pagination-bg: var(--blue-dark);

    --hnl-breadcrumbs-color: var(--white);
    --hnl-breadcrumbs-color-active: var(--white);

    --hnl-courses-bg: var(--black-2);
    --hnl-courses-bg1: var(--purple-2);
    --hnl-courses-bg2: var(--pink);
    --hnl-courses-title: var(--white);
    --hnl-courses-search-bg: var(--white);
    --hnl-courses-search-color: var(--pink);

    --hnl-courses-semester-bg: var(--black-blue-light);
    --hnl-courses-semester-color: var(--purple-2);
    --hnl-courses-semester-header-bg: var(--white-light);
    --hnl-courses-semester-course-border: var(--white-dark);
    --hnl-courses-semester-course-name-hover: var(--pink);
    --hnl-courses-semester-course-name: var(--pink);
    --hnl-courses-semester-course-class-name: var(--black);

    --hnl-course-nav-item-bg: var(--black);
    --hnl-course-nav-item-active-bg: var(--pink);
    --hnl-course-nav-item-color: var(--white);
    --hnl-course-nav-item-active-color: var(--white);
    --hnl-course-nav-item-border: var(--pink);

    --hnl-course-add-topic-bg: var(--black-blue-light);
    --hnl-course-add-topic-color: var(--gray-dark);
    --hnl-course-add-topic-color-hover: var(--white);
    
    --hnl-course-topic-header-bg: var(--black);
    --hnl-course-topic-header-color: var(--white);
    --hnl-course-topic-header-icon-color: var(--pink);
    --hnl-course-topic-header-title-color: var(--white);
    --hnl-course-topic-header-edit-color: var(--purple-2);

    --hnl-course-topic-body-title-color: var(--pink);
    --hnl-course-topic-body-subTitle-color: var(--white);
    --hnl-course-topic-body-title-color-hover: var(--white);
    --hnl-course-topic-body-border: var(--black-2);
    --hnl-course-topic-body-title-color-2: var(--purple-2);
    --hnl-course-topic-body-border2: var(--purple-2);

    --hnl-course-participants-head-bg: var(--black);
    --hnl-course-participants-head-color: var(--white);

    --hnl-course-participants-body-bg: var(--white);
    --hnl-course-participants-body-odd-bg: var(--blue-white-light);
    --hnl-course-participants-body-color: var(--black);
    --hnl-course-participants-body-border: var(--pink);

    --hnl-course-participants-body-button-border: var(--red);
    --hnl-course-participants-body-button-color: var(--red);
    --hnl-course-participants-body-button-hover-bg: var(--red);
    --hnl-course-participants-body-button-hover-color: var(--white);
    
    --hnl-course-participants-body-page-bg: var(--pink);
    --hnl-course-participants-body-page-color: var(--white);

    --hnl-course-participants-body-dropdown-bg: var(--blue-white-light);
    --hnl-course-participants-body-dropdown-border: var(--pink);
    --hnl-course-participants-body-dropdown-item-hover: var(--white);

    --hnl-course-grades-sortBar-button-bg: var(--white);
    --hnl-course-grades-sortBar-button-border: var(--pink);
    --hnl-course-grades-sortBar-button-color: var(--pink);

    --hnl-course-grades-body-title-color: var(--pink);

    --hnl-course-sortBar-options-bg: var(--black-blue-light);
    --hnl-course-sortBar-options-item-bg: var(--white);
    --hnl-course-sortBar-options-item-color: var(--white);
    --hnl-course-sortBar-options-item-color-active: var(--pink);

    // Add Exercise
    --hnl-course-addExercise-bg: var(--black);
    --hnl-course-addExercise-color: var(--black);

    --hnl-course-addExercise-header-color: var(--purple-2);
    --hnl-course-addExercise-header-bg: var(--black);

    --hnl-course-addExercise-formTitle-color: var(--pink);

    --hnl-course-addExercise-label-color: var(--white);

    --hnl-course-addExercise-dropdown-header-border: var(--black-blue-light);
    --hnl-course-addExercise-dropdown-header-color: var(--white);
    --hnl-course-addExercise-dropdown-header-bg: var(--black-blue-light);

    --hnl-course-addExercise-dropdown-body-border: var(--black-blue-light);
    --hnl-course-addExercise-dropdown-body-color: var(--white);
    --hnl-course-addExercise-dropdown-body-color-hover: var(--black);
    --hnl-course-addExercise-dropdown-body-icon: var(--pink);
    --hnl-course-addExercise-dropdown-body-bg: var(--black-blue-light);
    --hnl-course-addExercise-dropdown-body-bg-hover: var(--gray-light);

    --hnl-course-addExercise-testcase-header-bg: var(--white);
    // --hnl-course-addExercise-testcase-header-color: var(--green-dark-2);
    --hnl-course-addExercise-testcase-header-color: var(--white);

    --hnl-course-addExercise-testcase-button-add-bg: var(--pink);
    --hnl-course-addExercise-testcase-button-add-color: var(--white);
    --hnl-course-addExercise-testcase-button-cancel-bg: var(--gray-dark-2);

    --hnl-course-addExercise-testcase-table-header-bg: var(--pink);
    --hnl-course-addExercise-testcase-table-header-color: var(--white);
    --hnl-course-addExercise-testcase-table-row-border: var(--gray);
    --hnl-course-addExercise-testcase-table-row-color: var(--white);

    --hnl-course-addExercise-testcase-input-bg: var(--black-blue-light);
    --hnl-course-addExercise-testcase-input-color: var(--white);
    --hnl-course-addExercise-testcase-input-border: var(--black-blue-light);

    --hnl-course-addExercise-error-color: var(--red);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
}

.content {
    background-color: var(--primary-background);
    padding-top: 60px;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 100%;

    &:hover {
        background-color: rgb(0, 122, 255);
    }
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.grid {
    display: grid;
    // grid-template-rows: 1fr 10px 1fr;
    grid-template-columns: 1fr 10px 1fr;
}

.grid-row {
    display: grid;
    // grid-template-rows: 1fr 10px 1fr;
}

.closeConsole {
    grid-template-rows: auto 10px min-content !important;
}

.openConsole {
    grid-template-rows: 1fr 10px 1fr;
}

.gutter-row {
    grid-column: 2/-1;
    cursor: row-resize;

    &:hover {
        background-color: rgb(0, 122, 255);
    }
}

.gutter-row-1 {
    grid-row: 2;
}

.gutter-col {
    grid-row: 1/-1;
    cursor: col-resize;

    &:hover {
        background-color: rgb(0, 122, 255);
    }
}

.gutter-col-1 {
    grid-column: 2;
}

.fw-bold {
    font-weight: bold !important;
}

.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.btn-custom {
    cursor: pointer;
    display: inline-block;
    min-width: 200px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 8px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.disabled-div {
    pointer-events: none;
    user-select: none;
}

.Toastify__toast-container--top-right {
    top: unset;
    bottom: 1em;
}

.secondary-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    color: var(--gray-dark);
}

.slide-in {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s ease;
}

.slide-out-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.slide-out-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(+100%);
}

.textCenter {
    text-align: center;
}

.textEnd {
    text-align: end;
}

.textStart {
    text-align: start;
}

.textBold {
    font-weight: bold;
}

// Datetime Picker
.react-datetime-picker,
.react-time-picker {
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.react-datetime-picker__wrapper,
.react-time-picker__wrapper {
    padding: 8px 20px;
    // border: none !important;
    background-color: transparent;
    border: 1px solid var(--white-dark) !important;
}

.react-calendar__month-view__weekdays__weekday {
    abbr {
        text-decoration: none !important;
    }
}

.react-calendar__navigation {
    padding-top: 1.5rem;
    height: 100%;
}

.react-calendar {
    border: 1px solid var(--white-dark) !important;
}

.react-datetime-picker__inputGroup__input,
.react-time-picker__inputGroup__input {
    &:focus-visible {
        outline: none !important;
    }
}