.intro-container {
    display: flex;
    justify-content: space-evenly;
    padding: 4rem;
}

.intro-content {
    display: flex;
    flex-direction: column;
    // gap: 1rem;
    justify-content: center;
    width: 550px;

    .intro-subtitle {
        font-size: 48px;
        font-weight: bold;
        background: var(--vp-home-title-name-background);
        -webkit-background-clip: text;
        -webkit-text-fill-color: var(--vp-home-hero-name-color);
    }

    .intro-title {
        font-size: 48px;
    }

    .intro-info {
        color: var(--gray-dark-2);
        font-size: 18px;
        padding: 1rem 0 2rem;
    }

    .intro-btn {
        width: fit-content;
        color: var(--white);
        // background-color: var(--green-dark);
        background: var(--vp-home-btn-name-background);
        font-weight: bold;
    }

    .intro-btn:hover {
        color: var(--white);
        background-color: var(--green-dark-2);
    }
}

.intro-img-container {
    width: 400px;
    height: 400px;

    .intro-img {
        position: relative;
        width: 400px;
        height: 400px;
        top: 50%;
        left: 50%;
        background: var(--vp-home-img-background);
        filter: blur(50px);
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    .intro-img-text {
        position: relative;
        top: -323px;
        left: 50%;
        transform: translateX(-50%);

    }
}

.wwd-container {
    background-color: var(--blue-dark-2);
    padding-inline: 8rem;

    .wwd-title {
        text-align: center;
        color: var(--white);
        font-size: 32px;
        font-weight: bold;
        padding-top: 4rem;
    }

    .wwd-subcontainer {
        display: flex;
        justify-content: center;
        gap: 4rem;
        padding-block: 4rem;
    }
}

.wwd-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    .wwd-content-title {
        font-size: 32px;
        color: var(--white);
        font-weight: bold;
    }

    .wwd-content-info {
        color: var(--gray);
        font-size: 16px;
    }
}

.wwd-content-btn {
    width: fit-content;
    color: var(--white);
    background-color: var(--blue);
    font-weight: bold !important;
}

.wwd-content-btn:hover {
    color: var(--white);
    background-color: var(--blue-dark-4);
}

.wwd-img {
    height: 350px;
}

.team-container {
    padding-block: 4rem;
    background: linear-gradient(to bottom, var(--white), var(--blue-dark));

    .team-title {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        padding-bottom: 4rem;
    }
}

.team-members-container {
    display: flex;
    justify-content: space-evenly;

    .team-member-container {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .team-member-avt {
            width: 400px;
            // height: 300px;
            // border-radius: 50%;
            // background-size: cover;
            // border: solid 1rem var(--blue-dark);
        }
    }
}

.team-member-contacts {
    width: 200px;
    height: 50px;
    background-color: var(--blue);
    display: flex !important;
    justify-content: center;
    gap: 1rem !important;
}

.team-member-card {
    position: relative;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 80%;
    margin-inline: auto;
    top: -80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    .team-member-name {
        text-align: center;
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        // margin-bottom: 1rem;
        height: 80px;
    }

    .team-member-desc {
        color: var(--gray-dark-2);
        font-size: 16px;
        margin-bottom: 1rem;
        max-width: 200px;
    }
}

.team-member-contact {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.border-blue {
    border-color: var(--blue) !important;
    background-image: url('../../../public/images/Avt1.png');
}

.border-yellow {
    border-color: var(--yellow) !important;
    background-image: url('../../../public/images/Avt2.png');
}

.border-orange {
    border-color: var(--orange) !important;
    background-image: url('../../../public/images/Avt3.png');
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-orange {
    background-color: var(--orange);
}