/* Tùy chỉnh phân trang */
.pagination {
    list-style: none;
    padding: 6px 12px;
    margin: 0;
    align-items: center;
    background-color: white;

    .page-item {
        a {
            padding: 9px 13px;
            margin: 0 4px;
            cursor: pointer;
            border: none;
            border-radius: 100px;
            font-size: 15px;
            font-weight: bold;
        }

        &:hover {
            color: var(--hnl-problem-pagination-bg);
        }
    }

    .next,
    .previous {
        padding: 6px 12px;
        background-color: transparent;
        margin: 0 4px;
        cursor: pointer;
        border: none;

        a {
            color: black;
            font-weight: bold;
        }
        
        &:hover {
            color: var(--hnl-problem-pagination-bg);
        }
    }

    .disabled {
        a {
            color: var(--gray-dark);
        }
    }

    .active {
        a {
            background-color: var(--hnl-problem-pagination-bg) !important;
            color: white !important;
        }
    }
}

// .pagination li {
//     margin: 0 5px;
//     display: inline-block;
//     cursor: pointer;
// }

// .pagination a {
//     text-decoration: none;
//     padding: 5px 10px;
//     background-color: #e0e0e0;
//     color: #333;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     transition: background-color 0.3s ease;

//     &:hover {
//         background-color: #ccc;
//     }
// }

// .pagination .selected a {
//     background-color: #333;
//     color: #fff;
// }
