.problemConsoleNav {
    margin: 8px 0;
    padding: 0 20px;
    border-bottom: 1px solid var(--gray-light);
}

.problemConsoleBody {
    padding: 16px 20px;
    flex-grow: 1;
    overflow: hidden scroll;
    height: 0px;
}

.hide {
    display: none !important;
}

.problemConsoleCaseNum {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.problemConsoleCaseNumActive {
    background-color: var(--gray-light);
}

// Nav
.problemConsoleNavItem {
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    border-bottom: 3px solid var(--white);
}

.problemConsoleNavItemActive {
    border-color: var(--black);
}

// Console
.problemConsoleResult {
    font-size: 1.25rem;
}

.problemConsoleResultSuccess {
    color: var(--green-dark);
}

.problemConsoleResultFailure {
    color: var(--red-dark);
}

.round-result {
    display: inline-block;
    border-radius: 9999px;
    width: .25rem;
    height: .25rem;
    border-style: solid;
    box-sizing: border-box;
    margin-right: 0.5rem;
}

.result-success {
    border-color: var(--green-dark);
}

.result-failure {
    border-color: var(--red-dark);
}