.container {
    padding: 2rem;

    .title {
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 1rem;
    }

    .approach {
        border-top: solid 2px var(--gray);
        padding-block: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.subtitle {
    font-size: 20px;
    font-weight: 700;
}

.code_block {
    font-size: 16px;
    border-radius: 10px;
}

.normal-text {
    font-size: 20px;
}
