.course {
    .courseAddTopic {
        background-color: var(--hnl-course-add-topic-bg);
        color: var(--hnl-course-add-topic-color);
        border-radius: 10px;
        padding: 0.25rem 2rem;
        display: flex;
        align-items: center;
        margin-top: 2rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

        &:hover {
            color: var(--hnl-course-add-topic-color-hover);
        }
    }

    .courseAddTopicIcon {
        font-size: 42px;
        padding-right: 1.25rem;
    }

    .courseAddTopicTitle {
        font-weight: bold;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .sortBar{
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }

    .sortBarOptions{
        display: flex;
        align-items: center;
        background-color: var(--hnl-course-sortBar-options-bg);
        padding: 0.5rem 1rem;
        border-radius: 50px;
    }

    .sortBarOptionsItem{
        background-color: transparent;
        color: var(--hnl-course-sortBar-options-item-color);
        padding: 0.25rem 1rem;
        border-radius: 50px;
        margin: 0 0.25rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: var(--hnl-course-sortBar-options-item-bg);
            color: var(--hnl-course-sortBar-options-item-color-active);
        }
    }

    .sortBarOptionsItemActive {
        background-color: var(--hnl-course-sortBar-options-item-bg);
        color: var(--hnl-course-sortBar-options-item-color-active);
    } 

    .sortBarOptionsItemIcon {
        padding-right: 1rem;
    }

    // .courseContainer {}

    .courseElement {
        background-color: var(--hnl-courses-semester-bg);
        border-radius: 10px;
        margin-top: 2rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
    
    .courseHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        font-weight: bold;
        color: var(--hnl-course-topic-header-color);
        background-color: var(--hnl-course-topic-header-bg);
        border-radius: 10px;
        // border-top-left-radius: 10px;
        // border-top-right-radius: 10px;
        cursor: pointer;
    }
    
    .courseTitle {
        display: flex;
        align-items: center;
        color: var(--hnl-course-topic-header-icon-color);
        flex-grow: 1;
        
        .courseIconEdit {
            color: var(--hnl-course-topic-header-edit-color);
        }
    
        span {
            color: var(--hnl-course-topic-header-title-color);
            padding: 0 1rem;
        }
    
        .courseClass {
            padding: 0;
        }
    }
    
    .courseDropdown {}
    
    .courseBody {
        padding: 0rem 1.5rem 0.5rem;
    }
    
    .courseCourse {
        border-bottom: 2px solid var(--hnl-courses-semester-course-border);
        padding: 1rem 0;
        margin-bottom: 1rem;
    }
    
    .courseCourseName {
        font-weight: bold;
        color: var(--hnl-courses-semester-course-name);
    
        &:hover {
            color: var(--hnl-courses-semester-course-name-hover);
        }
    }
    
    .courseExercise {
        display: flex;
        align-items: center;
        border-bottom: 2px solid var(--hnl-course-topic-body-border);
    }
    
    .courseExerciseIcon {
        font-size: 48px;
        padding-right: 1.25rem;
        color: var(--hnl-course-topic-body-title-color);
    }
    
    .courseExerciseContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .courseExerciseSubTitle {
    
    }
    
    .courseExerciseTitle {
        color: var(--hnl-course-topic-body-title-color);
        font-weight: bold;
    
        &:hover {
            color: var(--hnl-course-topic-body-title-color-hover);
        }
    }
    
    .courseAddExercise {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        padding: 0 18px;
        border: 1px solid var(--hnl-course-topic-body-border2);
        border-radius: 10px;
    }
    
    .courseAddExerciseIcon {
        font-size: 42px;
        color: var(--hnl-course-topic-body-title-color-2);
        padding-right: 1.25rem;
    }   
    
    .courseAddExerciseTitle {
        color: var(--hnl-course-topic-body-title-color-2);
        font-weight: bold;
        
        &:hover {
            color: var(--hnl-course-topic-body-title-color-2);
            text-decoration: underline;
        }
    }

    .inputEditTopicNameGroup {
        margin-left: 1rem;
        margin-right: 1rem;

        .formControl {
            // border: none;
            background-color: var(--hnl-course-topic-header-bg);

            &:focus {
                box-shadow: none;
                border-color: var(--bs-border-color);
            }
            
        }
        .buttonSecondary {
            border-color: var(--bs-border-color) !important;
        }
    }
}

// Participants
.participants {
    padding-top: 2rem;

    .sortBarSearch {
        position: relative;
    }
    
    .sortBarSearchIcon {
        position: absolute;
        color: var(--hnl-courses-search-color);
        top: 11px;
        left: 1.65rem;
        font-size: 14px;
    }
    
    .sortBarSearchInput {
        // background-color: var(--hnl-courses-search-bg);
    }
    
    .sortBarFormControl {
        border: 1.5px solid var(--hnl-problems-search-border);
        border-radius: 100px;
        padding: 0.65rem 1.5rem 0.65rem 3.75rem;
        height: 42px;
        width: 350px;
        color: var(--hnl-courses-search-color);
        background-color: var(--hnl-courses-search-bg);
        font-size: 15px;
    
        &::placeholder {
            color: var(--hnl-courses-search-color);
        }
    }
    
    .participantsTable {
        margin-top: 2rem;
    }
    
    .participantsHead {
        background-color: var(--hnl-course-participants-head-bg);
        color: var(--hnl-course-participants-head-color);
        font-weight: bold;
        display: flex;
        padding: 12px 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .participantsCol1 {
        width: calc(100% / 12);
    }
    
    .participantsCol3 {
        width: calc(3 * 100% / 12);
    }
    
    .participantsCol5 {
        width: calc(5 * 100% / 12);
    }
}

// Grades
.grades {
    padding-top: 2rem;

    .sortBarButton {
        padding: 6px 32px;
        background-color: var(--hnl-course-grades-sortBar-button-bg);
        color: var(--hnl-course-grades-sortBar-button-color);
        border: 2px solid var(--hnl-course-grades-sortBar-button-border);
        border-radius: 100px;
        font-weight: bold;  
    }

    .gradesTable {
        padding-top: 2rem;

    }

    .gradesHead {
        background-color: var(--hnl-course-participants-head-bg);
        color: var(--hnl-course-participants-head-color);
        font-weight: bold;
        display: flex;
        padding: 12px 24px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .gradesBody {
        background-color: var(--hnl-course-participants-body-bg);
        color: var(--hnl-course-participants-body-color);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
    
    .gradesBodyContainer {
        display: flex;
        align-items: center;
        padding: 12px 24px;
    }

    .gradesCol4 {
        width: calc(4 * 100% / 12);
    }

    .gradesCol3 {
        width: calc(3 * 100% / 12);
    }

    .gradesCol2 {
        width: calc(2 * 100% / 12);
    }

    .gradesCol1 {
        width: calc(100% / 12);
    }

    .gradesOdd {
        background-color: var(--hnl-course-participants-body-odd-bg);
    }

    .textPrimary {
        color: var(--hnl-course-grades-body-title-color);
        font-weight: bold;
    }
}

// Add Exercise
.addExercise {
    margin-top: 2rem;
    background-color: var(--hnl-course-addExercise-bg);
    color: var(--hnl-course-addExercise-color);
    border-radius: 10px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1.5rem;
        font-weight: bold;
        color: var(--hnl-course-addExercise-header-color);
        background-color: var(--hnl-course-addExercise-header-bg);
        border-radius: 10px;
        cursor: pointer;
    }

    .headerTitle {
        display: flex;
        align-items: center;
        span {
            padding-right: 1rem;
            font-size: 30px;
        }
    }

    .headerIcon {

    }

    .body {
        padding: 0rem 1.5rem 1rem;
    }

    .formField {
        border-bottom: 2px solid var(--hnl-courses-semester-course-border);
        padding: 1rem 0;
        margin-bottom: 1rem;
    }

    .formTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.5rem;
        cursor: pointer;
        color: var(--hnl-course-addExercise-formTitle-color);
        font-weight: bold;
    }

    .formInput {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding-top: 1rem;
    }

    .label {
        width: 25%;
    }

    .input {
        width: 75%;
        position: relative;
    }

    // Dropdown
    .dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 20px;
        border: 1.5px solid var(--hnl-course-addExercise-dropdown-header-border);
        color: var(--hnl-course-addExercise-dropdown-header-color);
        background-color: var(--hnl-course-addExercise-dropdown-header-bg);
        cursor: pointer;
    }

    .dropdownName {

    }

    .dropdownIcon {

    }

    .dropdownBody {
        padding: 4px 0;
        // border: 1.5px solid var(--hnl-course-addExercise-dropdown-header-border);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
        position: absolute;
        width: 100%;
        background-color: var(--hnl-course-addExercise-dropdown-body-bg);
        z-index: 100;
    }
    
    .dropdownItem {
        padding: 8px 20px;
        display: flex; 
        align-items: center;
        // justify-content: space-between;
        
        &:hover {
            background-color: var(--hnl-course-addExercise-dropdown-body-bg-hover);

        }
    }

    .dropdownItemTitle {

    }

    .dropdownItemIcon {
        padding-left: 2rem;
        color: var(--hnl-course-addExercise-dropdown-body-icon);
    }

    .textarea {
        overflow: auto;
        overflow-wrap: break-word;
        height: 200px !important;
        width: 100%;
        border: 2px solid var(--hnl-input-border);
        padding: 10px 15px;
        transition: 0.2s all;
        resize: none;
        background-color: var(--hnl-input-bg);
        color: var(--black);
    }

    .inputCode {
        border: 1.5px solid var(--hnl-course-addExercise-dropdown-header-border);
    }

    .testCaseField {
        padding-top: 1rem;
    }

    .testCaseHeader {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        color: var(--hnl-course-addExercise-testcase-header-color);
        background-color: var(--hnl-course-addExercise-testcase-header-bg);
        font-weight: bold;
        cursor: pointer;
    }

    .testCaseIcon {
        width: 2rem;
    }

    .testCaseTitle {

    }

    .testCaseFillField {

    }

    .testCaseFillItem {
        display: flex;
        align-items: start;
        padding-top: 1rem;
    }
    
    .testCaseReviewField {
        padding-top: 1.5rem;
    }

    .textCenter {
        // text-align: center;
    }
    
    .button {
        padding: 8px 20px;
        margin: 0 4px;
        border-radius: 50px;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            opacity: 0.8;
        }
    }

    .buttonAdd {
        color: var(--hnl-course-addExercise-testcase-button-add-color);
        background-color: var(--hnl-course-addExercise-testcase-button-add-bg);
    }
    .buttonCancel {
        background-color:var(--hnl-course-addExercise-testcase-button-cancel-bg);
        color: var(--hnl-course-addExercise-testcase-button-add-color);
    }

    .buttonAddTestcase {
        margin: 0;
        border-radius: 10px;
        margin-top: 0.5rem;
        padding: 6px 28px;
    }

    .testCaseTableHeader {
        // padding: 8px 16px;
        background-color: var(--hnl-course-addExercise-testcase-table-header-bg);
        color: var(--hnl-course-addExercise-testcase-table-header-color);
        font-weight: bold;
    }

    .testCaseTableBody {
        
    }

    .testCaseTableRow {
    }
    
    .borderCol {
        border: 1px solid var(--hnl-course-addExercise-testcase-table-row-border);
        padding: 8px 16px;
    }
}