.footer-container {
    border-top: solid 1px var(--gray-light);
    padding-block: 16px;
    font-size: 13px;
}

.copy-right {
    color: var(--gray-dark);
}

.footer-nav {
    padding: 0 2rem;
    border-inline: solid 1px var(--gray-light);
}
