.footer-container {
    border-top: solid 1px var(--gray);
    padding-block: 16px;
    font-size: 16px;
}

.copy-right {
    color: var(--gray-dark);
}

.footer-nav {
    padding: 0 2rem;
    border-inline-start: solid 1px var(--gray);
}
